<html ng-app="app">
    <head>
        <title>APA15 - track routes and accessibility</title>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
        <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.6.1/angular-spinner.min.js"></script>
        <script src="./vendor/angular-leaflet-directive.min.js"></script>
        <script src="./app.js"></script>
        <script src="./mockHttp.js"></script>
    </head>
    <body>
        <div ng-controller="MainCtrl" class="container">
            <span spinner-key="spinner-1" us-spinner="{radius:30, width:8, length: 16}"></span>
            <div class="row">
                <div class="col-xs-12">
                    <h1>APA15</h1>
                    <button ng-click="startSpin()">Start spinner</button>
                    <button ng-click="stopSpin()">Stop spinner</button>
                    <button class="btn btn-primary"
                            ng-click="requestOpenStreetMapData()"
                            ng-disabled="!searchEnabled">
                        Search
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <leaflet bounds="bounds" center="center"
                             width="100%" height="75%"></leaflet>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h2>Nodes <small>({{nodes.length}})</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h2>Ways <small>({{ways.length}})</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h2>Relations <small>({{relations.length}})</small></h2>
                </div>
            </div>
        </div>
    </body>
</html>
